[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sendgrid = "==5.6.0"
sklearn = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.7"
